@using Laboratorio_4_RenatoCabrera_JoseHerrera.Models;
@model  IEnumerable<Laboratorio_4_RenatoCabrera_JoseHerrera.Models.Calcomania>
@{
    ViewBag.Title = "Home Page";
}<head>
    <meta charset="UTF-8" />
    <title>Sticker World  Cup</title>
    <link rel="stylesheet" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.Overlay/Css/jquery.tosrus.all.css" />
    <link rel="stylesheet" type="text/css" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Css/Core.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" async></script>
    <script type="text/javascript">dataLayer = [];</script>
    <script type="text/javascript">(function (w, d, s, l, i) {w[l] = w[l] || [];w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async = true;j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;f.parentNode.insertBefore(j, f);})(window, document, 'script', 'dataLayer', 'GTM-PXS29D');</script>
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="https://2018fifaworldcuprussia.paninigroup.com/es_ve" />


    <link rel="alternate" hreflang="es" href="https://2018fifaworldcuprussia.paninigroup.com/es_ve" />
    <link rel="icon" type="image/x-icon; charset=binary" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Icons/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon; charset=binary" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Icons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="google107b554615034cb3" />
    <meta name="msvalidate.01" content="CC011F120D8BF62F4385F67B817D1BB4" />
</head>
<body class="core home" id="page-sitcker-world-cup">

    <main>
        <div class="innerArea">
            <div class="contents neos-contentcollection">
                <section id="section-0" class="section left" style="background-image:url(&quot;https://2018fifaworldcuprussia.paninigroup.com/_Resources/Persistent/742c5bfbd603fa393f46adb3b2290ff59dea9472/2018fwc_BgTop_Collection_INT.jpg&quot;)">
                    <h3>
                        ¡Completa ya tu Colección Oficial de stickers de la COPA MUNDIAL FIFA™ (App creada por Renato Cabrera y José Herrera de la Universidad Rafael Landivar de Guatemala)!
                        <a class="call-to-action" href="" data-action="Go to" data-category="Home" data-label="collection-zone" data-track="event"></a>
                           </h3><a class="call-to-action" href="~/CargaLista/Carga" data-action="Go to" data-category="Home" data-label="collection-zone" data-track="event">
                        <span>Lleva el control a otro nivel</span>
                            
                    </a>
                   
                </section>
            </div>

        </div>
    </main>
    <footer>

        </div><div class="innerArea">
            <div class="copy-legals copy-panini">
                <div class="logo-footer-group"><img src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Images/logo_panini%402x.png" alt="Panini S.p.A. - www.paninigroup.com" class="logo-footer logo-panini" /></div><div class="legals">
                    <div id="pnn-footer"></div>
                    <script type="text/javascript">var locale = 'en-gb';var format = 'html';var type = 'pnnns';</script>
                    <script src="https://legals.paninicloud.com/legals.inject.js"></script>
                </div>
            </div><div class="copy-legals copy-fifa"><p>© FIFA, FIFA’s Official Licensed Product Logos, and the Emblems, Mascots, Posters and Trophies of the FIFA World Cup™ tournaments are copyrights and/or trademarks of FIFA.</p></div>
        </div>
    </footer>

</body>