@model Laboratorio_4_RenatoCabrera_JoseHerrera.Models.Calcomania

@{
    ViewBag.Title = "Carga";
}

<h2>Carga</h2>


<head>
    <meta charset="UTF-8" />
    <title>La Colección - Sticker World  Cup</title>
    <link rel="stylesheet" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.Overlay/Css/jquery.tosrus.all.css" />
    <link rel="stylesheet" type="text/css" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Css/Core.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" async></script>
    <script type="text/javascript">dataLayer = [];</script>
    <script type="text/javascript">(function (w, d, s, l, i) {w[l] = w[l] || [];w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';j.async = true;j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;f.parentNode.insertBefore(j, f);})(window, document, 'script', 'dataLayer', 'GTM-PXS29D');</script>
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="https://2018fifaworldcuprussia.paninigroup.com/es_ve/the-collection" />


    <link rel="alternate" hreflang="es" href="https://2018fifaworldcuprussia.paninigroup.com/es_ve/the-collection" />
    <link rel="icon" type="image/x-icon; charset=binary" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Icons/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon; charset=binary" href="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Icons/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="X-UA-Compatible" content="IE=edge" />
    <meta name="google-site-verification" content="google107b554615034cb3" />
    <meta name="msvalidate.01" content="CC011F120D8BF62F4385F67B817D1BB4" />
</head>
<body class="core" id="page-the-collection">

    <header>
        <div class="innerArea">
            <div class="main-logo">
                <a href="/"><picture><source srcset="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Images/2018fwc_SiteTitle_SM.png" media="(min-width: 576px) and (max-width: 992px)" /><img src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Images/2018fwc_SiteTitle_LG.png" alt="2018 FIFA World Cup Russia™ - Official licensed product" /></picture></a>
            </div>



            <button class="nav-expander" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars fa-2x"></i>
            </button>

            <nav id="main-navigation" class="collapse nav-main">
                <ul>

                    <li class="dropdown">


                        <a href="/es_ve/the-collection">La Colección</a>


                    </li>

                    <li class="dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios Online</a>
                        <div class="dropdown-menu">


                            <a class="dropdown-item" href="/es_ve/online-features/content-plan">Contenido</a>



                            <a class="dropdown-item" href="/es_ve/online-features/panini-collectors-app">Panini Collectors App</a>



                            <a class="dropdown-item" href="/es_ve/online-features/panini-digital-sticker-album">Panini Digital Sticker Album</a>


                        </div>

                    </li>

                    <li class="dropdown">


                        <a href="/es_ve/missing-stickers">Stickers faltantes</a>


                    </li>

                    <li class="dropdown">


                        <a href="https://crm.paninigroup.com/crm/wcsr2018/es/stage/1">Contactar</a>


                    </li>

                </ul>
            </nav>
        </div>

    </header>

    <main>
        <div class="page-title with-background" style="background-image:url(&quot;https://2018fifaworldcuprussia.paninigroup.com/_Resources/Persistent/d301a014163c4e8cabcc40f61b72863e32f8d006/2018fwc_BgTop_Collection_INT-2560x506.jpg&quot;)"><h1>La Colección</h1></div>
        <div class="wrapper">
            <div class="contents neos-contentcollection">
                <div class="neos-nodetypes-headline">
                    <div>
                        <h3>Colección Oficial de Stickers con licencia de la Copa Mundial de la FIFA Rusia 2018™</h3>
                    </div>
                </div>
                <div class="neos-nodetypes-headline">
                    <div>
                        <h5>¡LA TENGO, LA TENGO, ME FALTA! Experimenta la emoción del fútbol con la nueva Colección Oficial de Stickers con licencia de la Copa Mundial de la FIFA Rusia 2018™!</h5>
                    </div>
                </div>
                <div class="neos-nodetypes-text">
                    <div>
                        <p>Cada cuatro años, el fútbol se convierte en el centro de atención ya que 32 naciones compiten por la más grande recompensa deportiva: la COPA MUNDIAL FIFA ™. ¡Este año está más emocionantes que nunca ya que la elite futbolística mundial se dirige a Rusia con la esperanza de que sean ellos los que consigan el trofeo!</p>

                        <p>Panini se enorgullece en ofrecerte la única Colección oficial de stickers&nbsp;de la Copa Mundial de la FIFA Rusia 2018™ para este célebre evento. Esta impresionante colección presenta a los 32 equipos presentados con gráficas llamativas e increíbles imágenes de las superestrellas del fútbol más famosas del mundo.</p>

                        <p>
                            Hay 670 stickers para coleccionar, incluidos los 50 stickers especiales. ¡Los coleccionistas pueden comenzar su colección con un paquete inicial que incluye el álbum y 5 sobres!<br />
                            &nbsp;
                        </p>
                    </div>
                </div>
                <div class="neos-nodetypes-headline">
                    <div>
                        <h4>¡YA A LA VENTA! ¡La Colección Oficial de Stickers de la Copa Mundial de la FIFA Rusia 2018™ de Panini! ¡Déjate atrapar! #LaTengoNoLaTengo&nbsp;</h4>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="socials neos-contentcollection"></div><div class="banner">
            <div class="neos-contentcollection">


                <figure class="responsive-picture panini-nodes-picture">

                    <a target="_blank" title="2018 FIFA World Cup™ Trading App" href="https://fifa.onelink.me/Waqg/152d01f3"><picture><source srcset="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Persistent/8e3e327b23aca3126ff00bcf2630e0c9b5f3fdd3/WC%20728x90.jpg" media="(min-width: 992px) and (max-width: 1199px)" /><source srcset="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Persistent/8e3e327b23aca3126ff00bcf2630e0c9b5f3fdd3/WC%20728x90.jpg" media="(min-width: 1200px)" /><img src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Persistent/5b1b33894ffb52127fca269911610219fdb1cd6a/WC%20300x50.jpg" alt="2018 FIFA World Cup™ Trading App" /></picture></a>


                </figure>
            </div>
        </div><div class="innerArea">
            <div class="copy-legals copy-panini">
                <div class="logo-footer-group"><img src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Images/logo_panini%402x.png" alt="Panini S.p.A. - www.paninigroup.com" class="logo-footer logo-panini" /></div><div class="legals">
                    <div id="pnn-footer"></div>
                    <script type="text/javascript">var locale = 'es-es';var format = 'html';var type = 'pnnns';</script>
                    <script src="https://legals.paninicloud.com/legals.inject.js"></script>
                </div>
            </div><div class="copy-legals copy-fifa"><p>© FIFA, FIFA’s Official Licensed Product Logos, and the Emblems, Mascots, Posters and Trophies of the FIFA World Cup™ tournaments are copyrights and/or trademarks of FIFA.</p></div>
        </div>
    </footer>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" data-version="2.2.4" data-package="Panini.Overlay"></script>
    <script type="application/javascript" src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.Overlay/Js/jquery.cookie.js" data-version="2.1.3" data-package="Panini.Overlay"></script>
    <script type="application/javascript" src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Panini.StickerWorldCup/Javascript/Core.js" async data-version="0.0.1" data-package="Panini.StickerWorldCup"></script>
    <script data-neos-node="/sites/sticker-world-cup/node-llzilhwckkqwb@live;language=es&amp;country=ve" src="https://2018fifaworldcuprussia.paninigroup.com/_Resources/Static/Packages/Neos.Neos/JavaScript/LastVisitedNode.js" async></script>
</body></html>